.wrapper {
    width: 1480px;
    margin: 0 auto;
    padding-bottom:30px ;
 
}
.container {
    width: 1280px;
}
.logo {
    display: flex;
    Font-family: Roboto;
    font-weight: 400;
    Font-size: 80px;
    margin: 63px 0px;   


}
a {
    color: black;
    text-decoration: none;
    display: block;
    max-width: 340px;
}
.logo-colored {
    color: 
    rgba(75, 202, 255, 1);
}
.header-menu {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 68, 79, 1);
    
}
.menu-item {
    Font-family: Roboto;
    font-weight: 400;
    Font-size: 24px;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    padding: 24px 40px;  
     
}
li {
    cursor: pointer;
}
.item-border {
    border-right: 1px solid #ffff;
}
.menu-item:hover {
    background-color: #222F3A;
}
/*--------------------------------*/
.container-content {
    display: flex; 
    margin-top: 50px;
}

.content {
    margin: 0px 0px;

}

.content-menu {
    border: 1px solid rgba(0, 0, 0, 1);
}
.content-menu-item {
    line-height: 80px;
    Font-family: Roboto;
    font-weight: 400;
    Font-size: 27px;
    color: #495863;
    width: 300px;
    padding-left: 30px;
    padding-right:10px;
}

.content-menu-item:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(219, 219, 219, 1);
    cursor: grab;
    padding-left: 40px;
    padding-right: 0px;

}
/*------------------------------*/
.main-content {
    max-width: 880px;
    margin-left: 50px;
}
.main-frame { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    width: 885px;
    border: 1px solid black;  
}
.picture-block {
    height: 380px;
    width: 320px;
    overflow: hidden;
}

.picture { 
    transition: 2s;
    
  

}
.picture:hover {
   transform: scale(1.2);
}


.main-text {
    margin: 40px 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: rgba(44, 44, 44, 1);
}
/*---------------------------------*/
.footer {
    height: 70px;
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
}
.footer-menu { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-item {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    margin-left: 30px;
}
.footer-copyright {
    margin-left: 130px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-item:hover  {
    color: 
    rgba(49, 129, 166, 1);
    text-decoration:underline;
}

 